<!DOCTYPE html>
<html>
  <head>
    <title>Forgot your Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./navbar'); -%>
    <div class="container">
      <% if (error != '') { %>
        <div class="alert alert-danger" role="alert">
          <h4 id="alert"><%= error %></h4>
        </div>
      <% } %>
      <h1 class="SignUp">Forgot your Password</h1>
      <form method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name='Email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>


      <input href='/' type="submit" class="btn btn-primary btn-lg active btn-block" value="Send me an Email" />
      <h3 class="Member">Remembered?</h3>
      <a href='/sessions' class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Login</a>
      <h3 class="Member">Not a member?</h3>
      <a href='/users' class="btn btn-secondary btn-lg active btn-block" role="button" aria-pressed="true">Sign Up</a>
      </form>
    </div>
  </body>
  <style>
    .Member {
        justify-content: center;
        display: flex;
        color: rgba(0, 150, 150, 0.562);
        align-items: center;
    }
    .SignUp {
      color: rgba(40, 52, 85, 0.555);
    }

    .alert1 {
      text-align: center;
    }
</style>
<script>
  // var c = document.getElementById('alert');
  // if (document.getElementById("alert")) {
  //   console.log('work');
  //   setTimeout(function(){ c.className('hide'); }, 6000);
  // } if(c.className === 'hide' && document.getElementById("alert")) {
  //   console.log('work');
  //   c.className('');
  //   setTimeout(function(){ c.style.display = 'none' }, 6000);
  // }
</script>
</html>