li{
margin: 0px 10px;
}
/*--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Sanchez);
*,
*::before,
*::after {
transition: 400ms all ease-in-out 50ms;
box-sizing: border-box;
backface-visibility: hidden;
}
html,body{font-family: 'Sanchez', serif;}
/*--------------------------------------------------------------*/

nav {
font-size: 26px;
}
.navbar-brand {
font-size: 26.5px;
padding-top: 0px;
}
.collapse {
margin-left: 25px;
}
.bg-light{
background-color: #f4dcc1ef!important;
}
.img-logo{
width: 50px;
height: auto;
}
.side-nav{
height:100%;
width:0;
position:fixed;
background-image: url('/images/leaf.png');
background-size: 6% 3%;
z-index:1000;
top:0;
left:0;
border-radius: 0px;
background-color:#111;
opacity:0.9;
overflow-x:hidden;
padding-top:60px;
transition:0.5s;
}
.side-nav a{
padding:10px 10px 10px 30px;
text-decoration:none;
font-size:22px;
color:#ccc;
display:block;
transition:0.3s;
}
.side-nav a:hover{
color:#fff;
}
.side-nav .btn-close{
position:absolute;
top:0;
right:22px;
font-size:36px;
margin-left:50px;
}
@media(max-width:568px){
.navbar-nav{display:none}
}