.bg-light {
  background-color:#f4dcc1!important;
}

@media (min-width: 625px) and (max-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar {
    flex-wrap: unset;
  }

  .nav-item {
    margin-right: 5px;
  }

  .collapse:not(.show) {
    display: flex!important;
  }

  .mr-auto, .mx-auto {
    margin-right: var(--main-coordinates);
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.red {
  font-size: 4.7px;
  color: rgb(219, 65, 65);
}
.green {
  font-size: 3px;
  color: rgb(66, 179, 66);
}

.form-check {
  padding: 10px;
  padding-bottom: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #0fcbe4bd;
}

.exampleCheck1{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.labelChecker{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-check-input {
   position: relative; 
   margin-top: 0; 
   margin-left: 0; 
}

.hide{
  display: none;
}